
@{
    ViewBag.Title = "PhilsView";
    ViewBag.SubTitle = "First Ever Razor Web Page";
}

<h1>Razor Syntax </h1>

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.SubTitle</h3>

<p>Here is my Hello World ASP.NET Razor Web Page</p>

<ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
</ul>

